.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.articles-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.getHeadlinesBtn {
  background-color: black;
  border: 2px solid white;
  color: white;
  height: 40px;
  width: 40px;
}
.btnWrapper {
  display: flex;
  justify-content: space-between;
  width: 230px;
}
